.component {

  button {
    margin-top: 19rem;
    margin-left: -24rem;

    user-select: none;
    width: 5rem;
    height: 2rem;

    background: var(--primary-color);
    color: var(--secondary-color);
    border: 0.5px solid transparent;
    border-radius: 4px;
    padding: 0.4em 0.8em;

    &:hover:not(:disabled) {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      border-color: currentColor;
    }

    &:disabled {
      opacity: 0.45;
    }
  }
}